<div class="card">
  <div class="card-head">Tous les projets</div>
  <div class="card-body">
    <div class="card-body-buttons">
      <mat-form-field appearance="outline">
        <mat-label>Filtrer la table</mat-label>
        <input matInput placeholder="" search (keyup)="applyFilter($event)">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="openProjectDialog()">
        Ajouter un projet
      </button>
    </div>

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Titre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date d'échéance </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dueDate | date: 'shortDate'}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-status">Statut</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <mat-form-field class="status-field mat-form-field-center">
            <mat-select [(ngModel)]="element.status" (selectionChange)="updateStatus($event.value, element)">
              <mat-select-trigger [ngStyle]="{ 'color': getStatusColor(element.status) }">
                {{ this.getStatusValue(element.status) }}
              </mat-select-trigger>
              <mat-option *ngFor="let status of listeStatus" [value]="status">
                {{ this.getStatusValue(status) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-priority">Priorité</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field class="assignPerson-field mat-form-field-center">
            <mat-select (selectionChange)="updatePriority($event.value, element)" [(ngModel)]="element.priority">
              <mat-select-trigger [ngStyle]="{ 'color': getPriorityColor(element.priority) }">
                {{ this.getPriorityValue(element.priority) }}
              </mat-select-trigger>
              <mat-option *ngFor="let priority of listePriority" [value]="priority" [ngStyle]="{ 'color': getPriorityColor(priority) } ">
                {{ this.getPriorityValue(priority) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="projectClient">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Client du projet</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.projectClient?.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tasks">
        <mat-header-cell *matHeaderCellDef> Tâches </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <button mat-icon-button color="primary" (click)="redirectToTasks(project.id)">
            <mat-icon>list</mat-icon>
            <span class="badge" matBadge="{{getTasksCount(project)}}" matBadgePosition="above after"></span>
          </button>
        </mat-cell>
      </ng-container>



      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="mat-column-actions">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button class="blue-button" [matMenuTriggerFor]="subtaskActionsMenu">
            <mat-icon class="blue-button">more_vert</mat-icon>
          </button>
          <mat-menu #subtaskActionsMenu="matMenu">
            <button mat-menu-item class="blue-button" (click)="viewProject(element)">
              <mat-icon class="blue-button">visibility</mat-icon>
              <span>Voir</span>
            </button>
            <button mat-menu-item class="green-button" (click)="openProjectDialog(element)">
              <mat-icon class="green-button">create</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item class="red-button" (click)="deleteProject(element.id)">
              <mat-icon class="red-button">delete_outline</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div *ngIf="dataSource.data.length === 0" class="empty-table-message">
      Aucun projet disponible.
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true"
                   aria-label="Sélectionner la page des projets">
    </mat-paginator>

  </div>
</div>
