<div *ngIf="!isDialogOpen"> <!-- Add ngIf to prevent interaction when dialog is open -->
  <!-- Your page content goes here -->
</div>

<div *ngIf="isDialogOpen" class="overlay-panel"></div> <!-- Add overlay panel when dialog is open -->

<!-- Upload Dialog -->
<ng-container *ngIf="isDialogOpen">
  <h1 mat-dialog-title>Upload</h1>
  <div mat-dialog-content>
    <div class="full-width">
      <label for="fileInput">Select File</label>
      <input id="fileInput" type="file" (change)="onFileChange($event)" required>
    </div>
    <div *ngIf="attachement.file">
      <p>File Name: {{ attachement.file.name }}</p>
      <p>File Type: {{ attachement.file.type }}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!attachement.file" (click)="uploadAttachement()">
      {{ attachement.id ? 'Update' : 'Upload' }}
    </button>
  </div>
</ng-container>

<!-- Delete Dialog -->
<ng-container *ngIf="isDialogOpen">
  <h1 mat-dialog-title>Delete Attachment</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete this attachment?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button mat-raised-button color="primary" (click)="deleteAttachement()">Delete</button>
  </div>
</ng-container>




<!-- Download Dialog -->
<ng-container *ngIf="isDialogOpen">
  <h1 mat-dialog-title>Download</h1>
  <div mat-dialog-content>
    <p>Do you want to download this attachment?</p>
    <div>
      <p>File Name: {{ attachement.fileName }}</p>
      <p>File Type: {{ attachement.fileType }}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="downloadAttachement()">Download</button>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  </div>
</ng-container>
