h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

mat-form-field.full-width {
  width: calc(100% - 2rem); // Adjust width here
  margin-top: 8px;
  margin-bottom: 1rem; // Add margin at the bottom for each row
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  button {
    width: 48%;
  }
}
