<h1 mat-dialog-title>View Project</h1>
<div mat-dialog-content class="card">
  <div class="card-head">Project Details</div>
  <div class="card-body">
    <div *ngIf="selectedProject">
      <p><strong>Title:</strong> {{ selectedProject.title }}</p>
      <p><strong>Due Date:</strong> {{ selectedProject.dueDate | date: 'short' }}</p>
      <p><strong>Status:</strong> {{ getStatusValue(selectedProject.status) }}</p>
      <p><strong>Priority:</strong> {{ getPriorityValue(selectedProject.priority) }}</p>
      <p><strong>Project Clients:</strong> {{ selectedProject.projectClient?.name }}</p>
      <p><strong>Planned Days:</strong> {{ selectedProject.plannedDays }}</p>
      <p><strong>Real Days Consumed:</strong> {{ selectedProject.realDaysConsumed }}</p>
      <div>
        <strong>Details:</strong>
        <textarea rows="10" cols="50" [(ngModel)]="selectedProject.detail" style="resize: vertical;" readonly (input)="onTextareaInput()"></textarea>
      </div>
      <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
    </div>
    <div *ngIf="!selectedProject">
      <p>No task selected.</p>
    </div>
  </div>
</div>
