<h1 mat-dialog-title>View Task</h1>
<div mat-dialog-content class="card">
  <div class="card-head">Task Details</div>
  <div class="card-body">
    <div *ngIf="selectedTask">
      <p><strong>Title:</strong> {{ selectedTask.title }}</p>
      <p><strong>Due Date:</strong> {{ selectedTask.dueDate | date: 'short' }}</p>
      <p><strong>Status:</strong> {{ getStatusValue(selectedTask.status) }}</p>
      <p><strong>Priority:</strong> {{ getPriorityValue(selectedTask.priority) }}</p>
      <p *ngIf="selectedTask.assignPerson"><strong>Assign Person:</strong> {{ selectedTask.assignPerson.firstName }} {{ selectedTask.assignPerson.lastName }}</p>
      <div>
        <strong>Details:</strong>
        <textarea rows="10" cols="50" [(ngModel)]="selectedTask.detail" style="resize: vertical;" readonly (input)="onTextareaInput()"></textarea>
      </div>
      <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
    </div>
    <div *ngIf="!selectedTask">
      <p>No task selected.</p>
    </div>
  </div>
</div>
