<h1 mat-dialog-title>View Subtask</h1>
<div mat-dialog-content class="card">
  <div class="card-head">Subtask Details</div>
  <div class="card-body">
    <div *ngIf="selectedSubtask">
      <p><strong>Title:</strong> {{ selectedSubtask.title }}</p>
      <p><strong>Due Date:</strong> {{ selectedSubtask.dueDate | date: 'short' }}</p>
      <p><strong>Status:</strong> {{ getStatusValue(selectedSubtask.status) }}</p>
      <p><strong>Priority:</strong> {{ getPriorityValue(selectedSubtask.priority) }}</p>
      <p *ngIf="selectedSubtask.assignPerson"><strong>Assign Person:</strong> {{ selectedSubtask.assignPerson.firstName }} {{ selectedSubtask.assignPerson.lastName }}</p>
      <p><strong>Planned Days:</strong> {{ selectedSubtask.plannedDays }}</p>
      <p><strong>Real Days Consumed:</strong> {{ selectedSubtask.realDaysConsumed }}</p>
      <div>
        <strong>Details:</strong>
        <textarea rows="10" cols="50" [(ngModel)]="selectedSubtask.detail" style="resize: vertical;" readonly (input)="onTextareaInput()"></textarea>
      </div>
      <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
    </div>
    <div *ngIf="!selectedSubtask">
      <p>No task selected.</p>
    </div>
  </div>
</div>
