.empty-table-message {
  padding: 16px;
  text-align: center;
  font-style: italic;
  color: #888;
}
.success-notification {
  background-color: #4caf50; /* Green */
  color: white;
}

.error-notification {
  background-color: #f44336; /* Red */
  color: white;
}
.card-body {
  padding: 15px;

  .card-toolbar {
    display: flex;
    justify-content: space-between;

  }

}
.card-body-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  mat-form-field {
    margin-right: 5rem; // Adjust the margin as needed
  }
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.mat-form-field-center {
  display: flex;
  justify-content: center;
  margin-top: 11px;
  margin-bottom: -11px;
}
.green-button {
  color: green;
}
.blue-button {
  color: blue;
}
.red-button {
  color: red;
}
.mat-column-title {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center!important;
}

.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-priority {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
